.stack_section {
  position: relative;
  background-image:
    /* linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),  */
    url("../img/bg_3.png")
  ;
}

.h1 {
  text-align: center;
  margin-bottom: 20px;
}

#javascript {
  color: var(--javascript-color);
}

#typescript {
  color: var(--typescript-color);
}

#python {
  color: var(--python-color);
}

#html5 {
  color: var(--html-color);
}

#css3 {
  color: var(--css-color);
}

#react {
  color: var(--react-color);
}

#nextjs {
  color: var(--next-color);
}

#nextjs p,
#flask p,
#express p {
  color: white;
}

#nextjs p {
  padding-left: 10px;
}

#nextjs .icon {
  background: white;
  padding: 0;
  border-radius: 100%;
}

#tailwindcss {
  color: var(--tailwind-color);
}

#vuejs {
  color: var(--vue-color);
}

#nodejs {
  color: var(--node-color);
}

#express {
  color: var(--express-color);
}

#flask {
  color: var(--flask-color);
}

#django {
  color: var(--django-color);
}

#nestjs {
  color: var(--nestjs-color);
}

#fastapi {
  color: var(--fast-color);
}

#mongodb {
  color: var(--mongo-color);
}

#mysql {
  color: var(--mysql-color);
}

#postgresql {
  color: var(--postgresql-color);
}