.about_section {
  position: relative;
  background-image: 
    url("../img/bg_2.png");
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img {
  width: 350px;
  border-radius: 10px;
}

.text_container {
  width: 50%;
}

.text_container p {
  font-size: 18px;
}

.img_container {
  text-align: center;
}

.img_container h1 {
  padding: 20px 0;
}