@import "tailwindcss";

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  overflow-x: hidden;
  margin: 0;
}

a {
  color: var(--secondary-light-color);
  text-decoration: none;
}

b {
  color: var(--slide-color);
  font-weight: bold;
  color: #fad0a2;
}

button {
  color: var(--button-color);
  background-color: var(--tertiary-color);
  border: 1px solid var(--button-color);
  padding: 10px 27px;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: var(--tertiary-hover-color);
}