.intro_section {
  background-image: url("../img/bg_1.png");

  view-timeline-name: --section;
  view-timeline-axis: block;

  animation-timeline: --section;
  animation-name: dark_intro;
  animation-range: entry 30% cover 40%;
  animation-fill-mode: both;
}

.intro_div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text {
  text-align: center;
}

.text p {
  font-size: 17px;
  margin: 5px;
}

.me {
  width: 200px;
  border-radius: 50%;
}

.link_container {
  display: flex;
  align-items: center;
  margin: 20px 10px;
}

.links_container {
  display: flex;
  width: 50%;
  margin: auto;
}

.link {
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
  color: var(--light-primary-color);
}

.icon {
  font-size: 40px;
  color: var(--secondary-color);
  background: white;
  padding: 5px;
  border-radius: 50%;
}

@keyframes dark_intro {
  from {
    background-image: url("../img/bg_1.png");
  }

  to {
    background-image: 
      linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
      url("../img/bg_1.png");
  }
}